.class-name {
    color: #000;
    /* Was the color pair Accessible? Insufficient Data */
}

#id-name {
    color: #000;
    /* Was the color pair Accessible? Insufficient Data */
}

div {
    color: #000;
    /* Was the color pair Accessible? Insufficient Data */
}

.multi #selector {
    color: #000;
    /* Was the color pair Accessible? Insufficient Data */
}

.simple-hex {
    color: #000;
    background-color: #fff;
    /* Was the color pair Accessible? True */
}

.simple-rgb {
    color: rgb(0, 115, 240);
    background-color: rgb(255, 255, 0);
    /* Was the color pair Accessible? False */
}

.named-colors {
    color: rgb(0, 115, 115);
    background-color: #ffd700;
    /* Was the color pair Accessible? False */
}

.mixed-props {
    color: navy;
    /* Was the color pair Accessible? Insufficient Data */
}

.malformed-hex {
    background-color: #abcd;
    /* Was the color pair Accessible? Insufficient Data */
}

.multiple-colors {
    color: #0000ff;
    background-color: #ffffff;
    /* Was the color pair Accessible? True */
}

.comments-between {
    color: rgb(30, 141, 26);
    background-color: #111;
    /* Was the color pair Accessible? False */
}

