name: Python Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main, RgbaSupport, cli-development, alg-dev]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Install pytest, hypothesis, and any other dependencies for your library
        pip install pytest hypothesis click tinycss2 rich
        # If your library has other dependencies, install them here
    - name: Run tests with pytest
      run: |
        PYTHONPATH=src python -m pytest tests/
